node_modules/
backend/node_modules/
backend/jobs/
backend/queue/
backend/outputs/
backend/logs/
backend/temp/
backend/*.aep
backend/*.avi
backend/*.mp4
frontend/vite-project/node_modules/
frontend/vite-project/dist/
.env
*.envbackend/templates/ 
backend/templates/Help/ 
